/* Add CSS Styling */
.odd_num {
  background-color: #FFA8B5;
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

#unique_id {
  color: #2235E0;
  font-size: 36px;
}

.third {
  font-size: 24px;
}

#fourth {
  background-color: #9AE97A;
  font-weight: bold;
  font-size: 24px;
}