body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/* solution */
body, .header,
.sidebar, .content,
.footer, .group {
  display: flex;
}

.header {
  /* The header text is size 32px and weight 900 */
  font-size: 32px;
  font-weight: 900;
  /* The header text is vertically centered and 16px from the edge of the screen */
  padding-left: 16px;
  align-items: center;
}

body {
  flex-direction: column;
}


.group {
  /* footer is pushed to the bottom of the screen */
  flex: 1;
}

.sidebar {
  /* sidebar has 16px padding */
  padding: 16px;
}


.sidebar a {
  /* sidebar links are size 24px, are white, and do not have the underline text decoration */
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.content {
  /* 8px padding around the 'cards' section */
  padding: 48px;
}

.footer {
  /* footer text is centered horizontally and vertically */
  justify-content: center;
  align-items: center;
}