/* Add CSS Styling */

/* Grouping selectors  */
.one,
.two {
  font-size: 28px;
  font-family: Helvetica, "Times New Roman", sans-serif;
}

/* Classes selectors */
.one {
  background-color: black;
  color: white;
}

.two {
  background-color: yellow;
}